@font-face{
    font-family: CaviarDreams_Bold;
    src: url("font/CaviarDreams_Bold.ttf")
}

@font-face{
    font-family: Roboto_Thin;
    src: url("font/Roboto-Thin.ttf")
}


#onglet{
    width:20%;
    height: 100%;
    font-size: 120%;
}
#onglet:hover{
    background-color: #FFECB3;
    text-decoration:none;
    color: #212121;
}
body{
    display: flex;
    margin: 0 0;
    flex-direction: column;
}

#big-picture{
    position: relative;
    display: inline-block;
}

#title-big-picture{
    position: absolute;
    top: 7%;
    text-align: center;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 4.5rem;
    font-weight: bold;
    color : #FFFFFF;
    text-shadow: #696969 1px 0 8px;  
}
/* #696969 */

#subtitle-big-picture{
    position: absolute;
    bottom: 5%;
    text-align: center;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 2rem;
    font-weight: bold;
    color : #FFFFFF;
    text-shadow: #696969 1px 0 8px;  
}

footer{
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    box-shadow: 0px 0px 7px #BDBDBD;
    font-weight: bold;
}
#newsletter{
    margin-left: 5%;
    width: 40%;
    font-size: 120%;

}
#reseaux_sociaux{
    margin-left: 10%;
    margin-right: 5%;
    font-size: 120%;
    text-align: right;
    font-weight: bold;
}



button{
    font-family: Roboto_Thin;
    font-weight: bold;
}

a:link {
    text-decoration: none;
  }


#gauche{
  width: 50%;
  margin-top: 1%;
  margin-left: 3.5%;
  margin-right: 3%;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 0px 0px 7px #BDBDBD;
  text-align: justify;
}
#droite{
  padding-top: 1%;
  display: block;
  width: 50%;
  background-color: white;
  text-align: center;
}


.slide {display:none}
.w3-center{display:inline-block;width:auto; text-align:center}
.w3-content{margin-left:auto;margin-right:auto;max-width:980px}	
.w3-badge{height:3px; width:100px; display:inline-block; background-color:#BDBDBD}
.purple{background-color:#7C4DFF; border-color:#7C4DFF; height:5px; width:140px}

.texte-white{color: white}
.texte-21{color: #212121}
.background-orange{background-color: #FFA000}
.background-jaune{background-color: #FFC107}
.font-caviar{font-family: CaviarDreams_Bold}
.font-roboto{font-family: Roboto_Thin}
.centrer{text-align: center}
.justify{text-align: justify}
.right-text{text-align: right}
.center{align-items: center;}
.block{display: block}
.flex{display: flex}
.row{flex-direction: row}
.column{flex-direction: column}
.shadow{box-shadow: 0px 0px 10px #BDBDBD}
.space-between{justify-content: space-between}
.space-evenly{justify-content: space-evenly}
.stretch{align-items: stretch}
.border-box{box-sizing: border-box}
.marge-gauche{margin-left: 3%}
.marge-droite{margin-right: 3%}
.marge-haut{margin-top: 2%}
.padding{padding: 2%;}
.middle{width: 50%}
.activite_gauche{width: 80%; margin-left:3%}
.activite_droite{width: 80%; margin-left: 17%}