@font-face{
    font-family: CaviarDreams_Bold;
    src: url("font/CaviarDreams_Bold.ttf")
}

@font-face{
    font-family: Roboto_Thin;
    src: url("font/Roboto-Thin.ttf")
}
/* Elément natifs html */

body{
    display: flex;
    margin: 0 0;
    flex-direction: column;
    min-width: 950px;
}

div{font-family: Helvetica;}

button{
    font-family: Roboto_Thin;
    font-weight: bold;
}


a:link {
    text-decoration: none;
    font-size: small;
    color: black;
    font-family: helvetica;
}

a:visited {
    text-decoration: none;
    color: black;
    font-size: small;
    font-family: helvetica;
}

a:hover {
    text-decoration: none;
    font-size: small;
    color: white;
    font-family: helvetica;
    transition-duration: 0.5s;
    cursor: pointer;
}

footer{
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    box-shadow: 0px 0px 7px #BDBDBD;
    font-weight: bold;
}

/* id */

#logo-title{
    margin-left: 1%;
    width : 25%;
}

#image_logo{
    height: 4.3rem;
}

#big-picture{
    position: relative;
    display: inline-block;
}

#title-big-picture{
    position: absolute;
    top: 7%;
    text-align: center;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 4.5rem;
    font-weight: bold;
    color : #FFFFFF;
    text-shadow: #696969 1px 0 8px;  
}

#subtitle-big-picture{
    position: absolute;
    bottom: 5%;
    text-align: center;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 2rem;
    font-weight: bold;
    color : #FFFFFF;
    text-shadow: #696969 1px 0 8px;  
}

#contact{
    width: 30%;
    margin: 5%;
}

#a-contact{    
    background-color: #9c27b0;
    text-decoration:none;
    color: white;
    padding: 4%;
    border-radius: 4px;
    font-weight: bold;
    margin-top : 5%;
}

#image_adherer_mail{
    width : 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#text-adherer{
    padding: 3% 3% 7% 3%;
}

#text-contact{
    padding: 3% 3% 2% 3%;
}

#logo_reseaux{
    margin-top: 5%;
}

/* Class */
/* Alignement */
.block{display: block}
.flex{display: flex}
.row{flex-direction: row}
.column{flex-direction: column}
.center{align-items: center;}
.space-around{justify-content: space-around}
.space-between{justify-content: space-between}
.space-evenly{justify-content: space-evenly}
.justify-center{justify-content: center}
.grow{flex-grow: 1;}

/* Bloc size */
.activite_gauche{width: 80%; margin-left:3%}
.activite_droite{width: 80%; margin-left: 17%}
.middle{width: 50%}
.marge-gauche{margin-left: 3%}
.marge-droite{margin-right: 3%}
.marge-haut{margin-top: 2%}
.marge-bas{margin-bottom: 10%;}
.centrer-vertical{margin: auto}
.padding{padding: 2%;}

/* Corners and shadow*/
.arrondi{border-radius: 10px;}
.arrondi-haut{border-radius: 10px 10px 0px 0px;}
.arrondi-gauche{border-radius: 10px 0px 0px 10px;}
.arrondi-droite{border-radius: 0px 10px 10px 0px;}
.shadow{box-shadow: 0px 0px 10px #BDBDBD}
.border-box{box-sizing: border-box}
.color-border{border-color: #000000;
border-style: solid;}

/* Background */
.background-orange{background-color: #FFA000}
.purple{background-color:#7C4DFF; border-color:#7C4DFF; height:5px; width:140px}
.background-primary{background-color: #80deea}
.background-primary-light{background-color: #b3ffff}
.background-primary-dark{background-color: #4aacb8}

/* Text */
.texte-blanc{color: white}
.texte-violet{color: #751aff}
.texte-noir{color: #000000}
.texte-marron{color: #994d00}
.texte-white{color: #000000}
.font-caviar{font-family: CaviarDreams_Bold}
.font-roboto{font-family: Roboto_Thin}
.font-helvetica{font-family: helvetica; font-size: 12px; font-weight: bold;}
.font-tiny{font-size: small;}
.centrer{text-align: center;}
.justify{text-align: justify}
.right-text{text-align: right}

/* Others */
.slide {display:none}
.w3-center{display:inline-block;width:auto; text-align:center}
.w3-content{margin-left:auto;margin-right:auto;max-width:980px}	
.w3-badge{height:3px; width:100px; display:inline-block; background-color:#BDBDBD}













